{% extends "manage/base.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid bg-info">
        <div class="container">
            <h3 class="text-white"><i class="fas fa-user-tag"></i> 角色管理</h3>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col col-md-8 col-xl-4">
                <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#editRoleModal">新增角色 <i class="fas fa-plus"></i> </button>
            </div>
        </div>

        {% for item in roles %}
        <div id="role-{{ item.id }}" class="row mb-4">
            <div class="col border-bottom pb-2">
                <span class="float-left">{{ item.name }}</span>
                <span class="float-right">
                    <a href="javascript: void (0);" class="badge badge-secondary"
                       data-toggle="modal" data-target="#editRoleModal"
                       data-roleid="{{ item.id }}" data-rolename="{{ item.name }}" data-roledetails="{{ item.details }}">
                        <i class="fas fa-pen-nib"></i>
                    </a>
                    <a href="javascript: void (0);" class="badge badge-secondary"
                       data-toggle="modal" data-target="#editPermissionModal"
                       data-roleid="{{ item.id }}">
                        <i class="fas fa-user-shield"></i>
                    </a>
                    <a href="javascript: void (0);" class="badge badge-danger"
                       data-toggle="modal" data-target="#deleteRoleModal"
                       data-roleid="{{ item.id }}">
                        <i class="fas fa-trash"></i>
                    </a>
                </span>
                <br>
                <small>引用数：{{ item.users.count() }} &nbsp; 描述：{{ item.details }}</small>
                <br>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- 角色添加和编辑modal -->
    <div class="modal fade" id="editRoleModal" tabindex="-1" role="dialog" aria-labelledby="editRoleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="editRoleModalLabel">用户角色管理</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="roleForm">
              <input type="hidden" id="role-id" name="role_id">
              <div class="form-group">
                <label for="role-name" class="col-form-label">角色名：</label>
                <input type="text" class="form-control" id="role-name" name="role_name">
                <small class="text-danger" id="role-name-error"></small>
              </div>
              <div class="form-group">
                <label for="role-details" class="col-form-label">角色描述：</label>
                <textarea class="form-control" id="role-details" name="role_details"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-info" id="role-submit">确定</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 角色删除确认modal -->
    <div class="modal fade" id="deleteRoleModal" tabindex="-1" role="dialog" aria-labelledby="deleteRoleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="deleteRoleModalLabel">角色删除确认</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            请再次确认是否要删除该角色！
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-danger" id="role-delete-submit" data-dismiss="modal">删除</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 权限管理modal -->
    <div class="modal fade" id="editPermissionModal" tabindex="-1" role="dialog" aria-labelledby="editPermissionModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="editPermissionModalLabel">角色权限管理</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-block" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block script %}
    {{ super() }}

    <script type="text/javascript">
    $(function () {

        // 角色新增和编辑
        $("#editRoleModal").on('show.bs.modal', function (event) {
            let roleId = $(event.relatedTarget).data('roleid');
            let roleName = $(event.relatedTarget).data('rolename');
            let roleDetails = $(event.relatedTarget).data('roledetails');
            $(this).find('#role-id').val(roleId);
            $(this).find('#role-name').val(roleName);
            $(this).find('#role-details').val(roleDetails);
            $(this).find('#role-name-error').html('');
        });

        $('#role-submit').on('click', function () {
            $.ajax({
                url: '{{ url_for('.role') }}',
                type: 'post',
                data: new FormData(document.getElementById('roleForm')),  // 这里必须用document.getElementById
                cache: false,
                processData: false,
                contentType: false,
                beforeSend: function () {
                    $("#role-name-error").html('');
                    $("#role-submit").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 确定');
                },
                success: function () {
                    location.reload();
                },
                error: function (xhr) {
                    $("#role-name-error").html(xhr.responseText);
                    $("#role-submit").html('确定');
                }
            })
        });

        // 角色删除
        $("#deleteRoleModal").on('show.bs.modal', function (event) {
            let role_id = $(event.relatedTarget).data('roleid');
            $(this).find('#role-delete-submit').data('roleid', role_id);
        });

        $("#role-delete-submit").on('click', function () {
            let role_id = $(this).data('roleid');
            $.ajax({
                url: "{{ url_for('.role_delete') }}",
                type: 'post',
                data: {'role_id': role_id},
                beforeSend: showLoading,
                success: function () {
                    $("#role-"+role_id).remove();
                    hideLoading();
                },
                error: function (xhr) {
                    hideLoading();
                    showMsg(xhr.statusText);
                }
            })
        });

        // 权限管理，对不同角色的权限管理modal设置内容，并设置内联权限开关的方法
        $("#editPermissionModal").on('show.bs.modal', function (event) {
            let role_id = $(event.relatedTarget).data('roleid');
            let modal = $(this);
            modal.find('.modal-body').html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
            $.ajax({
                url: "{{ url_for('.permission', role_id='') }}"+role_id,
                type: 'get',
                success: function (data) {
                    modal.find('.modal-body').html('');
                    for (let item of data) {
                        if (item[2] === 0) {
                            modal.find('.modal-body').append('<div class="custom-control custom-switch">\n' +
                                '              <input type="checkbox" class="custom-control-input" id="'+item[0]+'" value="'+item[1]+'" onclick="permissionEdit(this, '+role_id+')">\n' +
                                '              <label class="custom-control-label" for="'+item[0]+'">'+item[0]+'</label>\n' +
                                '            </div>')
                        } else {
                            modal.find('.modal-body').append('<div class="custom-control custom-switch">\n' +
                                '              <input type="checkbox" class="custom-control-input" id="'+item[0]+'" value="'+item[1]+'" onclick="permissionEdit(this, '+role_id+')" checked>\n' +
                                '              <label class="custom-control-label" for="'+item[0]+'">'+item[0]+'</label>\n' +
                                '            </div>')
                        }
                    }
                },
                error: function (xhr) {
                    modal.modal('hide');
                    showMsg(xhr.statusText);
                }
            })
        });

    });

    // 权限管理函数
    function permissionEdit(_this, role_id) {
        $.ajax({
            url: "{{ url_for('.permission', role_id='') }}"+role_id,
            type: "post",
            data: {permission_id: _this.value, status: _this.checked},
            beforeSend: showLoading,
            success: hideLoading,
            error: function (xhr) {
                hideLoading();
                $("#editPermissionModal").modal('hide');
                showMsg(xhr.statusText);
            }
        })
    }

    </script>
{% endblock %}