{% extends "manage/base.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid bg-info">
        <div class="container">
            <h3 class="text-white"><i class="fas fa-users"></i> 用户管理</h3>
        </div>
    </div>

    <div class="container mb-5 pb-5">
        {% for item in users %}
        <div class="row mb-4" id="user-{{ item.id }}">
            <div class="col border-bottom pb-2">
                <span class="float-left"><a href="{{ url_for('.user_update', user_id=item.id) }}" class="text-dark text-decoration-none">{{ item.username }}</a></span>
                <span class="float-right">
                    <a href="javascript: void(0);" class="badge badge-secondary"
                       data-toggle="modal" data-target="#passwordModal"
                       data-userid="{{ item.id }}">
                        <i class="fas fa-key"></i>
                    </a>
                    <a href="javascript: void(0);" class="badge badge-danger"
                       data-toggle="modal" data-target="#userDeleteModal"
                       data-userid="{{ item.id }}">
                        <i class="fas fa-trash"></i>
                    </a>
                </span>
                <br>
                {{ item.phone_number }}
                <br>
                {% for one in item.roles.all() %}
                    <span class="badge badge-info badge-pill" id="user-{{ item.id }}-{{ one.id }}">{{ one.name }}
                        <a href="javascript: void (0);" onclick="userRoleEdit(this)"
                           data-userid="{{ item.id }}" data-roleid="{{ one.id }}" data-status="remove">
                            <i class="fas fa-times text-danger"></i>
                        </a>
                    </span>
                {% endfor %}
                <a href="javascript: void(0);" class="badge badge-secondary badge-pill" id="role-add-btn-{{ item.id }}"
                   data-toggle="modal" data-target="#userRoleModal"
                   data-userid="{{ item.id }}">
                    添加角色 <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- 密码的修改 -->
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="passwordModalLabel">密码修改</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="passwordForm">
              <input type="hidden" id="user-id" name="user_id">
              <div class="form-group">
                <input type="text" class="form-control" name="password" placeholder="请输入新密码...">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-info" id="password-submit">确定</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 用户删除 -->
    <div class="modal fade" id="userDeleteModal" tabindex="-1" role="dialog" aria-labelledby="userDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="userDeleteModalLabel">用户删除确认</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            请再次确认是否要删除该用户。
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-danger" id="user-delete-submit" data-dismiss="modal">确定</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 用户角色管理 -->
    <div class="modal fade" id="userRoleModal" tabindex="-1" role="dialog" aria-labelledby="userRoleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="userRoleModalLabel">用户角色添加</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block script %}
    {{ super() }}

    <script type="text/javascript">
    $(function () {


        // 用户密码修改
        $('#passwordModal').on('show.bs.modal', function (event) {
            let user_id = $(event.relatedTarget).data('userid');
            $(this).find('#user-id').val(user_id);
        });

        $('#password-submit').on('click', function () {
            $.ajax({
                url: "{{ url_for('.user') }}",
                type: 'post',
                data: new FormData(document.getElementById('passwordForm')),
                cache: false,
                processData: false,
                contentType: false,
                beforeSend: showLoading,
                success: function () {
                    $("#passwordModal").modal('hide');
                    hideLoading();
                    showMsg('密码修改成功。')
                },
                error: function (xhr) {
                    hideLoading();
                    showMsg(xhr.statusText);
                }
            })
        });


        // 用户删除
        $("#userDeleteModal").on('show.bs.modal', function (event) {
            let user_id = $(event.relatedTarget).data('userid');
            $(this).find('#user-delete-submit').data('userid', user_id);
        });

        $("#user-delete-submit").on('click', function () {
            let user_id = $(this).data('userid');
            $.ajax({
                url: "{{ url_for('.user_delete') }}",
                type: 'post',
                data: {user_id: user_id},
                beforeSend: showLoading,
                success: function () {
                    $("#user-"+user_id).remove();
                    hideLoading();
                },
                error: function (xhr) {
                    hideLoading();
                    showMsg(xhr.statusText);
                }
            });
        });


        // 用户角色管理
        $("#userRoleModal").on('show.bs.modal', function (event) {
            let user_id = $(event.relatedTarget).data('userid');
            let modal = $(this);
            modal.find('.modal-body').html('');
            $.ajax({
                url: "{{ url_for('.user_role', user_id='') }}"+user_id,
                type: 'get',
                beforeSend: showLoading,
                success: function (data) {
                    for (let one of data) {
                        modal.find('.modal-body').append(
                            '<button class="btn btn-info mr-2" onclick="userRoleEdit(this)" id="role-'+one[1]+'-'+user_id+'"' +
                            '  data-userid="'+user_id+'" data-roleid="'+one[1]+'" data-status="append">'+one[0]+' <i class="fas fa-plus"></i> ' +
                            '</button>'
                        )
                    }
                    hideLoading();
                },
                error: function (xhr) {
                    modal.modal('hide');
                    hideLoading();
                    showMsg(xhr.statusText);
                }
            })
        })

    });


    function userRoleEdit(_this) {
        let user_id = $(_this).data('userid');
        let role_id = $(_this).data('roleid');
        let status = $(_this).data('status');
        let content_text = $(_this).text();
        $.ajax({
            url: "{{ url_for('.user_role', user_id='') }}"+user_id,
            type: 'post',
            data: {role_id: role_id, status: status},
            beforeSend: showLoading,
            success: function () {
                if (status === 'append') {
                    $("#role-"+role_id+'-'+user_id).remove();
                    $("#role-add-btn-"+user_id).before(
                        '<span class="badge badge-info badge-pill mr-2" id="user-'+user_id+'-'+role_id+'">'+content_text+' \n' +
                        '    <a href="javascript: void (0);" onclick="userRoleEdit(this)" \n' +
                        '      data-userid="'+user_id+'" data-roleid="'+role_id+'" data-status="remove">\n' +
                        '        <i class="fas fa-times text-danger"></i>\n' +
                        '    </a>\n' +
                        '</span>'
                    );
                } else {
                    $("#user-"+user_id+'-'+role_id).remove();
                }
                hideLoading();
            },
            error: function (xhr) {
                hideLoading();
                showMsg(xhr.statusText);
            }
        });
    }
    </script>
{% endblock %}