{% extends "manage/base.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid bg-info">
        <div class="container">
            <h3 class="text-white"><i class="fas fa-users"></i> 用户管理</h3>
        </div>
    </div>

    <div class="container">
        {% for item in users %}
        <div class="row mb-4">
            <div class="col border-bottom pb-2">
                <span class="float-left">{{ item.username }}</span>
                <span class="float-right">
                    <a href="#" class="badge badge-secondary"><i class="fas fa-key"></i> </a>
                    <a href="#" class="badge badge-danger"><i class="fas fa-trash"></i> </a>
                </span>
                <br>
                {{ item.email }}
                <br>
                {% for one in item.roles.all() %}
                    <span class="badge badge-info badge-pill">{{ one.name }} <a href="#"><i class="fas fa-times text-danger"></i></a></span>
                {% endfor %}
                <a href="#" class="badge badge-secondary badge-pill">添加角色 <i class="fas fa-plus"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}