{% extends 'base.html' %}

{% block body %}
<main role="main">
    <div class="border-bottom shadow-sm py-2 mb-4 fixed-top bg-white">
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="javascript: if (window.history.length === 1) {window.location.href='/'} else {window.history.back();}"
                       class="text-decoration-none text-secondary lead"><i class="fas fa-chevron-left"></i> </a>
                    <span class="lead ml-2">详情</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5 pb-5" style="margin-top: 4rem;">
        <div class="row justify-content-center">
            <div class="col col-md-10 col-xl-8">
                <p class="h4">{{ goods.name }}</p>
                <p>
                    <span class="lead text-danger font-weight-bold">&yen;{{ goods.rent }}</span>
                    {% if goods.cash_pledge %}<small class="text-muted font-weight-light">&nbsp;押金&yen;{{ goods.cash_pledge }}</small>{% endif %}
                </p>
                <p>
                    编号：{% if goods.number %}{{ goods.number }}{% else %}{{ goods.id }}{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if goods.type_id %}类别：{{ goods.type.name }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                    {% if goods.brand %}品牌：{{ goods.brand }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                    {% if goods.size %}尺码：{{ goods.size }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                    {% if goods.quantity %}库存：{{ goods.quantity }}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                </p>
                <p><a href="{{ url_for('user_bp.index', uid=goods.user_id) }}" class="text-muted"> >> {{ goods.user.username }} </a></p>
                <hr>
                {% for item in goods.img.all() %}
                    <img src="{{ url_for('static', filename='img_goods/'+item.filename_l) }}" width="100%" class="img-fluid rounded mb-2">
                {% endfor %}
                <hr>
                <p>{% if goods.details %}{{ goods.details }}{% endif %}</p>
            </div>
        </div>
    </div>

    <!-- 底部菜单 -->
    <div class="row justify-content-center fixed-bottom mb-2">
        <nav class="nav rounded-pill border" style="background: rgba(255, 255, 255, 0.8);">
            <a class="nav-link text-warning border-right" href="{{ url_for('user_bp.index', uid=goods.user_id) }}">
                <i class="fas fa-store"></i> 查看更多
            </a>
            <a class="nav-link text-danger" href="javascript:"
               onclick="showMsg('联系电话：{{ goods.user.phone_number }}<br><br><a href=\'tel:{{ goods.user.phone_number }}\' class=\'text-info\'><i class=\'fas fa-phone\'></i>  直接呼叫电话</a>')">
                <i class="fas fa-shopping-cart"></i> 我要租赁
            </a>
        </nav>
    </div>
</main>
{% endblock %}
