{% extends 'main/base.html' %}

{% block content %}
    <div class="row justify-content-center">
{#    <a href="{{ url_for('.index') }}#{{ goods.id }}" class="text-secondary"><i class="fas fa-arrow-left"></i> 返回</a>#}
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <h3>{{ goods.name }}</h3>
        <p class="text-danger">
            ￥{{ goods.rent }} <br>
            <small class="text-secondary">押金：{{ goods.cash_pledge }}</small>
        </p>
        <p>{{ goods.brand }}</p>
        <p>{{ goods.details }}</p>
        {% for item in goods.img.all() %}
            <img src="{{ url_for('static', filename='img_goods/'+item.filename) }}" class="img-fluid rounded mb-2">
        {% endfor %}
    </div>
    </div>
{% endblock %}