<!-- 商品展示界面的轮播图复用代码 -->
    <div id="carouselIndicatorsGoods" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for one in imgs %}
            <li data-target="#carouselIndicatorsGoods" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for one in imgs %}
            {% set imgurl = url_for('static', filename='img_goods/'+one.filename_l) %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div style="height: 0; padding-bottom: 100%; background: rgba(0,0,0,0.05) url('{{ imgurl }}') no-repeat center; background-size: contain;"></div>
            </div>
            {% endfor %}
        </div>
    </div>