{% extends "base.html" %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='custom/main-index.css') }}">{% endblock %}

{% block body_tag %}id="page-top"{% endblock %}

{% block body %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <img src="{{ url_for('static', filename='img/lantinglogo.gif') }}" width="40" height="40" alt="">
          <span class="align-middle">兰亭续文化创意工作室</span>
      </a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">{{ body.caption }}</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">{{ body.subhead }}</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">关于我们</a>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0"><a href="{{ url_for('goods_bp.index') }}" class="text-white text-decoration-none">关于我们</a></h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">{{ body.about }}</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">我们的集市</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <section class="page-section" id="services">
    <div class="container" id="content">
      <h2 class="text-center mt-0">集市</h2>
      <hr class="divider my-4">
      <div class="row mb-4">
        <div class="col text-lg-right text-center">
            <div class="dropdown">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_type }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" onclick="javascript: window.sessionStorage.services='#services'">
                <a class="dropdown-item" href="{{ url_for('.index') }}">全部类别</a>
                {% for item in type_list %}
                    <a class="dropdown-item" href="{{ url_for('.index', type_id=item.id) }}">{{ item.name }}</a>
                {% endfor %}
              </div>
            </div>
        </div>
      </div>
      <div class="row masonry mr-0"></div>
      <div class="row">
        <div class="col text-center loading" style="display: none;">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="col text-center data-null" style="display: none;">
            全部已加载...
        </div>
        <div class="col text-center error-load" style="display: none;">
            加载失败，请刷新页面重试...
        </div>
      </div>
    </div>
  </section>


  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="text-white mt-0">声明</h2>
      <hr class="divider light my-4">
      <p class="text-white-50 mb-4">
        {{ body.statement }}
      </p>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">联系我们</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">你可以给我们打电话、发微信或QQ，我们会尽快回复；也可以直接预约来工作室地址体验。</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 ml-auto text-center mb-5">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>13398190196</div>
        </div>
        <div class="col-lg-3 mr-auto text-center mb-5">
          <i class="fab fa-weixin fa-3x mb-3 text-muted"></i>
          <div>Zhongtinglu0215</div>
        </div>
        <div class="col-lg-3 mr-auto text-center mb-5">
          <i class="fab fa-qq fa-3x mb-3 text-muted"></i>
          <div>734749721</div>
        </div>
        <div class="col-lg-3 mr-auto text-center mb-5">
          <i class="fas fa-map-marker-alt fa-3x mb-3 text-muted"></i>
          <div>成都市十陵镇龙锦湾3幢2006</div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2019 - 兰亭续文化创意工作室</div>
      <div class="small text-center"><a href="http://www.miitbeian.gov.cn/" class="text-black-50">蜀ICP备18036635号</a></div>
    </div>
  </footer>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='custom/main-index.js') }}"></script>

    <script type="text/javascript">

        let data_url;
        let setState = function () {  // 记录当前页面状态
            window.sessionStorage.content=$("#content").html();
            window.sessionStorage.url=data_url;
            window.sessionStorage.scroll=$(window).scrollTop();
        };

        $(function(){
            // 初始化懒加载
            let lazyLoadInstance = new LazyLoad({
                elements_selector: ".lazy",
                callback_loaded: () => { $('.masonry').masonry('layout') }
            });

            // 监听窗口滚动事件 商品数据分页无限懒加载瀑布流
            $(window).scroll(function () {
                if (data_url && $(document).height() - $(window).height() - $(window).scrollTop() < 1888){
                    let $loading = $('.loading');
                    let $dataNull = $('.data-null');
                    let $errorLoad = $('.error-load');
                    let $masonry = $('.masonry');
                    $.ajax({
                        url: data_url,
                        beforeSend: () => $loading.show(),
                        success: function (data) {
                            for (let v of data.items) {
                                let $content = $(
                                    '<div class="col-6 col-md-4 col-xl-3 mb-3 pr-0 masonry-item">\n' +
                                    '  <a href="/goods_show/'+v[0]+'" onclick="setState()">\n' +
                                    '    <img data-src="/static/img_goods/'+v[2]+'" src="/static/img/no-image.jpg" class="img-fluid rounded lazy">\n' +
                                    '    <span class="badge badge-pill badge-secondary" style="position: absolute; left:1.5rem; top:0.5rem;">'+v[0]+'</span>' +
                                    '  </a>' +
                                    '</div>'
                                );
                                $masonry.masonry({itemSelector: '.masonry-item'}).append($content).masonry('appended', $content);
                            }
                            $masonry.imagesLoaded( function () {
                                $masonry.masonry('layout');
                                lazyLoadInstance.update();
                            });
                            if (!data.next) $dataNull.show();
                            data_url = data.next;
                        },
                        error: () => $errorLoad.show(),
                        complete: () => $loading.hide()
                    });
                    data_url = null;
                }
            });

            // 滚动到商品位置
            if (window.sessionStorage.services !== undefined) {
                window.location.href = window.sessionStorage.services;
                window.sessionStorage.clear();
            }

            // 加载之前浏览位置
            if (window.sessionStorage.url !== undefined) {
                data_url = window.sessionStorage.url === 'null' ? null : window.sessionStorage.url;
                $("#content").html(window.sessionStorage.content);
                $('.masonry').imagesLoaded( function () {
                    $('.masonry').masonry({itemSelector: '.masonry-item'});
                    lazyLoadInstance.update();
                });
                $(window).scrollTop(parseInt(window.sessionStorage.scroll));
                window.sessionStorage.clear();
            } else {
                data_url = '{{ url_for('.goods_list', tid=type_id, page=1) }}';  // 初始化url
                $(window).scroll();
            }

        });

    </script>
{% endblock %}
