{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
        {% for item in goods_list %}
            <div id="{{ item.id }}" class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                <a href="{{ url_for('.goods_show', goods_id=item.id) }}">
                <div style="padding-bottom: 100%; height: 0; background-size: cover; background-position: center;
                        background-image: url('{{ url_for('static', filename='img_goods/'+item.img.first().filename_m) }}')" class="rounded">
                    <span class="badge badge-pill badge-secondary">{{ item.id }}</span>
                </div>
                </a>
                <small class="text-danger">&yen;{{ item.rent }}</small>
                <p class="text-truncate text-dark"><small>{{ item.name }}</small></p>
            </div>
        {% else %}
            <p>当前暂无商品图。</p>
        {% endfor %}
    </div>
{% endblock %}

{% block handle_btn %}
    <a href="#" class="btn btn-info float-right mb-2 mr-3"><i class="fas fa-arrow-up"></i> </a>
{% endblock %}