
<!doctype html>
<html lang="zh-CN" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.8.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.bootcss.com/vanilla-lazyload/11.0.5/lazyload.min.js"></script>
    <title>兰亭续个人相册</title>
</head>

<body class="h-100 d-flex flex-column">

<nav class="navbar justify-content-center shadow">
    <div class="navbar-brand">
        <img src="{{ url_for('static', filename='img/lantinglogo.gif') }}" width="30" height="30" class="d-inline-block align-top" alt="lanting.live">
{#        兰亭续文创工作室 <small class="text-muted">汉服租赁</small>#}
        兰亭续个人相册 <small class="text-muted">汉服</small>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        {% for item in goods_list %}
        <div id="{{ item.id }}" class="col-6 col-sm-4 col-md-3 col-lg-2 p-1">
            <a data-toggle="modal" data-target="#goods-no-price-modal" data-goodsid="{{ item.id }}">
            <div data-imageurl="{% if item.img.first() %}{{ url_for('static', filename='img_goods/'+item.img.first().filename_m) }}{% else %}{{ url_for('static', filename='img/no-image.jpg') }}{% endif %}"
                 style="padding-bottom: 100%; height: 0; background-size: cover; background-position: center;" class="rounded img_delay">
{#                <span class="badge badge-pill badge-secondary">{{ item.id }}</span>#}
            </div>
            </a>
{#            <p class="text-truncate text-dark"><small>{{ item.name }}</small></p>#}
        </div>
        {% else %}
{#            <div class="col">当前暂无商品图.</div>#}
            <div class="col">当前暂无.</div>
        {% endfor %}
    </div>

    <!-- goods-no-price show modal -->
    <div class="modal fade" id="goods-no-price-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-block" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
</div>

		<footer class="mt-auto py-3">
		  <div class="container text-center">
		    <span class="text-muted"><a href="http://www.beian.miit.gov.cn/" class="text-muted">蜀ICP备18036635号</a></span>
		  </div>
		</footer>

<script type="text/javascript">

$("#goods-no-price-modal").on("show.bs.modal", function (event) {
    let $item = $(event.relatedTarget);
    let goods_id = $item.data('goodsid');
    let modal = $(this);
    $.ajax({
        url: "{{ url_for('.resist_regulation') }}/"+goods_id,
        type: 'get',
        beforeSend: function(){
            modal.find('.modal-body').html('<div class="spinner-border" role="status">' +
                '<span class="sr-only">Loading...</span></div>')
        },
        success: function (data) {
            let html_str = '';
            {#if (data.name) { html_str += '<span class="lead font-weight-bold">'+data.name+'</span><br>' }#}
            {#if (data.cash_pledge) { html_str += '押金：'+data.cash_pledge+'<br>' }#}
            {#if (data.size) { html_str += '尺码：'+data.size+'<br>'}#}
            {#if (data.quantity) { html_str += '库存：'+data.quantity+'<br>' }#}
            if (data.images) {
                for (one in data.images) {
                    html_str += '<img class="img-fluid rounded mt-2" width=100% src="/static/img_goods/'+data.images[one]+'">'
                }
            }
            modal.find('.modal-body').html(html_str)
        },
        error: function (data) {
            {#let html_str = '未找到该商品详情.';#}
            let html_str = '未找到相关相册.';
            modal.find('.modal-body').html(html_str)
        }
    });
});

// 图片懒加载
$(function () {
    let clock;  // 记录定时任务ID
    let onScroll = function () {
        // 结束上次还未执行的任务
        if (clock) {
            clearTimeout(clock);
        }
        // 建立新的定时任务
        clock = setTimeout(function () {
            // 获取滚动条滚动过的页面的高度
            let scrollTop = $(window).scrollTop();
            // 网页浏览器可视内容部分的高度
            let screenHeight = $(window).height();
            $('.img_delay').each(function (index, element) {
              let $el = $(element);
              // $el.offset().top获取图片距离页面顶部的距离
              // 图片出现在页面可见部分时设置图片的src属性值为data-src属性值
              let elementTop = $el.offset().top;
              let maxHeight = scrollTop + screenHeight;  // 滚动过的高度加上页面高度
              let minHeight = scrollTop - $el.parent().parent().height();  // 滚动过的高度减去图片自身高度
              if (elementTop < maxHeight && elementTop > minHeight && $el.attr('data-imageurl')) {
                $el.attr('style', function(i,origValue){
                    return origValue + "background-image: url('"+$el.attr('data-imageurl')+"');"
                }).removeAttr('data-imageurl');
              }
            });
        }, 300);
    };
    $(window).scroll(onScroll);
    onScroll();
})

</script>
</body>
</html>