{% extends 'base.html' %}
{% from '_macro.html' import back_bar, goods_li_show %}

{# 设置footer置底的关键代码 #}
{% block html_tag %}class="h-100"{% endblock %}
{% block body_tag %}class="d-flex flex-column h-100"{% endblock %}

{% block body %}
    <main role="main" class="flex-shrink-0">

    {{ back_bar(name='商品搜索', href='/', share=False) }}

    <div class="container my-5">
        <!-- 搜索框部分 -->
        <div class="row">
            <div class="col">
                <div class="input-group">
                  <input type="text" class="form-control border-warning" value="{{ word }}">
                  <div class="input-group-append">
                    <button class="btn btn-warning text-white" type="button"
                            onclick="location.href='{{ url_for('main_bp.search') }}?word='+$('input').val()">
                        <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-3">
        <!-- 排序部分 -->
        <div class="row">
            <div class="col">
                <div class="dropdown small">
                  <a class="dropdown-toggle text-muted" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ goods_order_map(order_way, 1) }}
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      {% for one in goods_order_map(li=True) %}
                        <a class="dropdown-item small text-muted"
                           href="{{ url_for('main_bp.search') }}?word={{ word }}&order={{ one[0] }}">{{ one[1] }}</a>
                        <div class="dropdown-divider m-0"></div>
                      {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 商品展示部分 -->
    {{ goods_li_show(goods_li=goods) }}

    <div class="pb-5"></div>  <!-- 撑底部高度 -->

    </main>

    <!-- footer部分 -->
    {% include '_footer.html' %}

{% endblock %}