{% extends "base.html" %}

{% block body %}
<main role="main">
    <div class="border-bottom shadow py-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col"><span class="h3">兰亭续</span> <span class="lead">文化创意工作室</span> </div>
            </div>
        </div>
    </div>

    <div class="container mb-5 pb-5">
        <div class="row mb-4">
            <div class="col text-right">
                <div class="dropdown">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ current_type }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ url_for('.index') }}">全部类别</a>
                    {% for item in type_list %}
                        <a class="dropdown-item" href="{{ url_for('.index', type_id=item.id) }}">{{ item.name }}</a>
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>
        <div class="row masonry mr-0"></div>
        <div class="row">
            <div class="col text-center mb-5 loading" style="display: none;">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="col text-center mb-5 error-load" style="display: none;">
                加载失败，请刷新页面重试...
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script type="text/javascript">

    $(function(){

        let $masonry = $('.masonry');

        // 初始化瀑布流
        let msnry = new Masonry('.masonry', {itemSelector: '.masonry-item'});

        // 商品数据分页无限加载
        let data_url = '{{ url_for('.goods_list', tid=type_id, page=1) }}';
        let getGoods = function (){
            if (data_url && $(document).height() - $(window).height() - $(window).scrollTop() < 10){
                $.ajax({
                    url: data_url,
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    success: function (data) {
                        for (let v of data.items) {
                            let $content = $(
                                '<div class="col-6 col-md-4 col-xl-3 masonry-item mb-3 pr-0 text-right">\n' +
                                '    <img src="/static/img_goods/'+v[2]+'" class="img-fluid  rounded shadow" alt="..." onclick="location.href = \'/goods_show/'+v[0]+'\'">\n' +
                                '    <span class="badge badge-pill badge-secondary" style="position: absolute; left:1.5rem; top:0.5rem;">'+v[0]+'</span>' +
                                '</div>'
                            );
                            $masonry.append($content);
                            msnry.appended($content);
                        }
                        $masonry.imagesLoaded(function () {
                            msnry.layout();
                        });
                        data_url = data.next;
                    },
                    error: function () {
                        $('.error-load').show();
                    },
                    complete: function () {
                        $('.loading').hide();
                    }
                });
                data_url = null;
            }
        };
        $(window).scroll(getGoods).scroll();

    });

</script>
{% endblock %}