{% extends "base.html" %}
{% from '_macro.html' import back_bar %}

{% block body %}
    {{ back_bar(name='我的账号', share=False)}}

    <div class="container mb-5 pb-5">
        <div class="row">
            <div class="col">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group row">
                        {{ form.username.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.username(class="form-control") }}
                        {% for item in form.username.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.email.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.email(class="form-control") }}
                        {% for item in form.email.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.phone_number.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.phone_number(class="form-control") }}
                        {% for item in form.phone_number.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.wei_number.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.wei_number(class="form-control") }}
                        {% for item in form.wei_number.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.qq_number.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.qq_number(class="form-control") }}
                        {% for item in form.qq_number.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.password.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.password(class="form-control", placeholder="若不修改密码则不填此项") }}
                        {% for item in form.password.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.resume.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.resume(class="form-control", rows="5", placeholder="此项内容将展示至个人主页") }}
                        {% for item in form.resume.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-block btn-info" type="submit">提交修改</button>
                    <a href="{{ url_for('auth_bp.logout') }}" class="btn btn-block btn-danger">退出当前账号</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}