{% extends "base.html" %}

{% block body %}
    <div class="container mb-5">
        <div class="row my-3">
            <div class="col-10"><h5>我的账号</h5></div>
            <div class="col-2 pl-0 text-right">
                <a href="{{ url_for('auth_bp.logout') }}" class="text-info text-decoration-none font-weight-bolder">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group row">
                        {{ form.username.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.username(class="form-control") }}
                        {% for item in form.username.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.email.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.email(class="form-control") }}
                        {% for item in form.email.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.phone_number.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.phone_number(class="form-control") }}
                        {% for item in form.phone_number.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.password.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.password(class="form-control", placeholder="若不修改密码则不填此项") }}
                        {% for item in form.password.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.resume.label(class="col-3 pr-0 col-form-label") }}
                        <div class="col pl-0">
                        {{ form.resume(class="form-control", rows="5") }}
                        {% for item in form.resume.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-block btn-info" type="submit">提交修改</button>
                </form>
            </div>
        </div>
    </div>

    {% include '_navbar.html' %}
{% endblock %}