{% extends "base.html" %}

{# 设置footer置底的关键代码 #}
{% block html_tag %}class="h-100"{% endblock %}
{% block body_tag %}class="d-flex flex-column h-100"{% endblock %}

{% block body %}
    <main role="main" class="flex-shrink-0">

    <div class="container mt-3">
        <div class="row">
            <div class="col-9 pr-0">
                <p class="h5 text-truncate font-weight-bolder"
                   onclick="showMsg('点击右上角即可进行分享<br><br>' +
                           '或复制以下链接进行分享：<br>' +
                           '{{ url_for('.index', uid=user_obj.id, _external=True) }}<br><br>' +
                           '或长按该主页二维码可保存为图片进行分享<br><img class=\'img-fluid\' src=\'http://qr.topscan.com/api.php?text={{ url_for('.index', uid=user_obj.id, _external=True) }}\'>')">
                    <span {% if user_obj.id == current_user.id %}data-toggle="tooltip" data-placement="bottom" title="点击标题可生成分享二维码"{% endif %}>{% if user_obj.username %}{{ user_obj.username }}{% else %}{{ user_obj.email }}{% endif %}</span>
                </p>
            </div>
            <div class="col-3 pl-0 text-right">
                <a href="{{ url_for('main_bp.index') }}" class="text-decoration-none text-warning">进入官网</a>
            </div>
        </div>
    </div>

    {% if not type_id %}
    <div class="container mt-3">
        <!-- 标头caption部分 -->
        <div {% if user_obj.id == current_user.id %} onclick="bgChange('{{ url_for('.bg_change') }}')" {% endif %}
             class="row rounded mx-0"
             style="height: 10rem;
                     background: url('{{ url_for('static', filename='img_bg/'+user_obj.bg_image) }}') no-repeat center;
                     background-size: cover;">
            <div class="h-100 w-100 rounded" style="background: rgba(0,0,0,0.4);">
                <div class="row h-100 align-items-center text-white">
                    <div class="col m-2">
                        <p class="h4">
                            {% if user_obj.resume %}{{ user_obj.resume }}{% else %}{% if user_obj.id == current_user.id %}这里是您的个人空间，可在账号编辑处修改此处展示的文字内容哟.{% else %}还没有编辑个人介绍哟...{% endif %}{% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container pt-2 pb-3 sticky-top bg-white">
        <!-- 导航条 -->
        <nav class="nav flex-nowrap text-nowrap overflow-auto nav-scroll-me">
            <a class="nav-link px-0 pb-0 mr-3 order-0 {% if type_id %}text-black-50{% else %}text-warning  border-bottom border-warning{% endif %}"
               href="{{ url_for('.index', uid=user_obj.id) }}?tid=0&order={{ order_way }}">首页</a>
            {% for item in TYPE_LI %}
            <a class="nav-link px-0 pb-0 mr-3 order-{{ item.sequence }} {% if item.id == type_id %}text-warning  border-bottom border-warning{% else %}text-black-50{% endif %}"
               href="{{ url_for('.index', uid=user_obj.id) }}?tid={{ item.id }}&order={{ order_way }}">{{ item.name }}</a>
            {% endfor %}
        </nav>
    </div>

    <div class="container mb-3">
        <!-- 排序部分 -->
        <div class="row">
            <div class="col">
                <div class="dropdown small">
                  <a class="dropdown-toggle text-muted" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ goods_order_map(order_way, 1) }}
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      {% for one in goods_order_map(li=True) %}
                        <a class="dropdown-item small text-muted"
                           href="{{ url_for('.index', uid=user_obj.id) }}?tid={{ type_id }}&order={{ one[0] }}">{{ one[1] }}</a>
                        <div class="dropdown-divider m-0"></div>
                      {% endfor %}
                  </div>
                </div>
            </div>

            <!-- 排版部分 -->
            <div class="col text-right">
                <a href="{{ url_for('.index', uid=user_obj.id) }}?tid={{ type_id }}&order={{ order_way }}&view={{ view_type }}"
                   class="text-muted text-decoration-none">
                    <i class="fas fa-th-list"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- 商品展示部分 -->
        <div class="row">
            {% for item in goods_li %}
                {% set data_src_m = url_for('static', filename='img_goods/'+item.img.first().filename_m) if item.img.first() else url_for('static', filename='img/no-image.jpg') %}
                {% set data_src_l = url_for('static', filename='img_goods/'+item.img.first().filename_l) if item.img.first() else url_for('static', filename='img/no-image.jpg') %}

                {% if view_type == 'small' %}
                <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <a href="{{ url_for('main_bp.goods_show', goods_id=item.id) }}" class="text-decoration-none">
                    <div class="rounded-top img_response_auto lazy" data-src="{{ data_src_l }}"></div>
                    <div class="shadow rounded-bottom p-2">
                        <p class="m-0 text-truncate text-dark">{{ item.name }}</p>
                        <p class="m-0 text-warning">
                            <small>&yen;</small>{{ item.price }}
                            <small class="float-right text-muted">No. {{ item.number }}</small>
                        </p>
                    </div>
                </a>
                </div>
                {% else %}
                <div class="col-12 mb-4">
                    <a href="{{ url_for('main_bp.goods_show', goods_id=item.id) }}" class="text-decoration-none">
                        <div class="row">
                            <div class="col-5 col-sm-4 col-lg-3 pr-0">
                                <div class="rounded shadow img_response_auto lazy" data-src="{{ data_src_m }}"></div>
                            </div>
                            <div class="col">
                                    <p class="m-0 text-dark">{{ item.name }}</p>
                                    <p class="m-0 text-warning">
                                        <small>&yen;</small>{{ item.price }}
                                        <small class="float-right text-muted">No. {{ item.number }}</small>
                                    </p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
            {% else %}
                <div class="col">
                    这里暂时是空的哟...
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="pb-5"></div>  <!-- 撑底部高度 -->

    </main>

    <!-- footer部分 -->
    {% include "_footer.html" %}

{% endblock %}

{% block script %}
    {% include "_change_bg.html" %}

    <script type="text/javascript">
        $(function () {
            new LazyLoad({  // 初始化懒加载
                elements_selector: ".lazy",
                load_delay: 800
            });

            // 个人二维码位置提示
            $('[data-toggle="tooltip"]').tooltip('show');
            setTimeout(function () {
                $('[data-toggle="tooltip"]').tooltip('dispose');
            }, 3000);

        });
    </script>
{% endblock %}