{% extends "base.html" %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>{{ current_user.email }}</h1>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <strong>我的商品</strong>
                <a href="#" class="float-right text-info text-decoration-none"><small>查看更多 <i class="fas fa-angle-double-right"></i></small> </a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3 col-md-2 col-xl-1 pr-0">
                            <div style="height: 0; padding-top: 100%; background-color: #0b2e13"></div>
                        </div>
                        <div class="col">hello world!hello world!hello world!hello world!hello world!hello world!hello world!hello world!hello world!</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3 col-md-2 col-xl-1 pr-0">
                            <div style="height: 0; padding-top: 100%; background-color: #0b2e13"></div>
                        </div>
                        <div class="col">hello world!hello world!hello world!hello world!hello world!hello world!hello world!hello world!hello world!</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% include "_navbar.html" %}
{% endblock %}