{% extends "base.html" %}
{% from '_macro.html' import goods_li_show, navbar, order_block %}

{# 设置footer置底的关键代码 #}
{% block html_tag %}class="h-100"{% endblock %}
{% block body_tag %}class="d-flex flex-column h-100"{% endblock %}

{% block body %}
    <main role="main" class="flex-shrink-0">

    <!-- 头部 -->
    {% include 'user/_head.html' %}

    <!-- 导航条 -->
    {{ navbar(tid=type_id, uid=user_obj.id, order_way=order_way, view_type=view_type, TYPE_LI=TYPE_LI) }}

    <!-- 排序排版切换 -->
    {{ order_block(tid=type_id, uid=user_obj.id, order_way=order_way, view_type=view_type, goods_order_map=goods_order_map) }}

    <!-- 商品展示部分 -->
    {{ goods_li_show(goods_li=goods_li, view_type=view_type) }}

    <div class="pb-5"></div>  <!-- 撑底部高度 -->

    </main>

    <!-- footer部分 -->
    {% include "_footer.html" %}

{% endblock %}