{% extends 'base.html' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid py-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-md-8 col-xl-6 text-center">
                    <a href="{% if goods %}{{ url_for('.index') }}#goods_{{ goods.id }}{% else %}{{ url_for('.index') }}{% endif %}" class="text-dark text-decoration-none float-left"><i class="fas fa-angle-left"></i> </a>
                    {% if goods %}商品编辑{% else %}商品添加{% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row justify-content-center">
        <div class="col col-md-8 col-xl-6">

            <div class="row px-2 mb-4">
                <div id="imgInputDiv" class="col-4 col-sm-3 p-1">
                    <div class="text-center rounded border" style="height: 0; padding-bottom: 100%;">
                        <form id="uploadGoodsImg" enctype="multipart/form-data"
                              style="position: absolute; opacity: 0; filter: alpha(opacity=0); width: 100%; height: 100%">
                            <input type="file" name="file" multiple accept="image/png,image/jpeg,image/gif" style="height: 100%; width: 100%;">
                            <button id="uploadReset" type="reset" class="d-none">reset</button>
                        </form>
                        <h1><i class="fas fa-camera text-info" style="margin-top: 35%"></i></h1>
                    </div>
                </div>
            </div>

            <form method="post" class="mb-2">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label() }}
                    {{ form.name(class="form-control") }}
                    {% for item in form.name.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                </div>
                <div class="form-group">
                    {{ form.rent.label() }}
                    {{ form.rent(class="form-control", type="number") }}
                    {% for item in form.rent.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                </div>
                <div class="form-group">
                    {{ form.cash_pledge.label() }}
                    {{ form.cash_pledge(class="form-control", type="number") }}
                    {% for item in form.cash_pledge.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                </div>
                <div class="form-group">
                    {{ form.size.label() }}
                    {{ form.size(class="form-control") }}
                    {% for item in form.size.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                </div>
                <div class="form-group d-none">
                    {{ form.brand.label() }}
                    {{ form.brand(class="form-control") }}
                    {% for item in form.brand.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                </div>
                <div class="form-group">
                    {{ form.quantity.label }}
                    {{ form.quantity(class="form-control", type="number") }}
                    {% for item in form.quantity.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                </div>
                <div class="form-group">
                    {{ form.details.label() }}
                    {{ form.details(class="form-control") }}
                    {% for item in form.details.errors %}<small class="text-danger">{{ item }}</small><br>{% endfor %}
                </div>
                {% if goods %}
                    <button class="btn btn-info" type="submit">提交修改</button>
                    <button class="btn btn-secondary" type="reset">取消修改</button>
                {% else %}
                    <button class="btn btn-info" type="submit">添加</button>
                {% endif %}
            </form>
        </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">

    function imgAppend(data) {
        for (i in data){
            $("#imgInputDiv").before(
                '<div id="'+data[i][0]+'" class="col-4 col-sm-3 p-1">' +
                  '<div class="text-right rounded" style="padding-bottom: 100%; height: 0; background-size: cover; background-position: center; ' +
                      'background-image: url(\'{{ url_for('static', filename='img_goods/') }}'+data[i][1]+'\')" class="rounded">' +
                    '<span class="badge badge-info rounded-circle" onclick="deleteGoodsImg('+data[i][0]+')" style="margin-top: 90%; margin-left: 90%;"><i class="fas fa-times"></i></span>' +
                  '</div>' +
                '</div>'
            )
        }
    }

    function showGoodsImg() {
        $.ajax({
            url: "{% if goods %}{{ url_for('.img_goods_show', goods_id=goods.id) }}{% else %}{{ url_for('.img_goods_show') }}{% endif %}",
            type: "get",
            success: function (data) {
                imgAppend(data);
            }
        })
    }

    function deleteGoodsImg(img_id) {
        $.ajax({
            url: "{{ url_for('.img_goods_delete') }}",
            type: "post",
            data: {"img_id": img_id},
            beforeSend: showLoading(),
            success: function (data) {
                $("#"+img_id.toString()).remove();
            },
            error: function () {
                showMsg('该图片已被删除。');
                $("#"+img_id.toString()).remove();
            },
            complete: hideLoading()
        })
    }

    $(document).ready(function () {

        showGoodsImg();

        $("#uploadGoodsImg").change(function () {
            $.ajax({
                url: "{% if goods %}{{ url_for('.img_goods_upload', goods_id=goods.id) }}{% else %}{{ url_for('.img_goods_upload') }}{% endif %}",
                type: "post",
                cache: false,
                data: new FormData(document.getElementById("uploadGoodsImg")),
                processData: false,
                contentType: false,
                beforeSend: showLoading(),
                success: function (result) {
                    $("#uploadReset").click();
                    imgAppend(result.img);
                    hideLoading();
                    {#showMsg(result.msg);#}
                }
            });
        });

    });
    </script>
{% endblock %}