{% extends "base.html" %}

{% block title %}兰亭续销售管理系统{% endblock %}

{% block body %}
    <main role="main">

    <div class="border-bottom shadow-sm mb-2">
        <div class="container py-2">
            <div class="row">
            <div class="col">
                <a href="javascript:history.go(-1);" class="h3 text-info text-decoration-none">兰亭续</a>  <span class="lead">销售管理系统</span>
            </div>
        </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    </main>
{% endblock %}