{% extends "base.html" %}

{% block title %}兰亭续销售管理系统{% endblock %}

{% block body %}
    <main role="main">

    <div class="jumbotron pt-4 pb-1">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{{ url_for('static', filename="img/lantinglogo.gif") }}" width="60px" height="60px">
                    <span class="h2 ml-2 align-middle">销售管理系统</span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col text-right">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="dropdown-item" href="#">Dropdown link</a>
                          <a class="dropdown-item" href="#">Dropdown link</a>
                        </div>
                      </div>
                      <button type="button" class="btn btn-secondary">按月查看</button>
                      <button type="button" class="btn btn-outline-secondary"><i class="fas fa-plus"></i> 新订单</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    </main>
{% endblock %}