{% extends "base.html" %}

{% block body %}
<main role="main">

<div class="border-bottom shadow-sm mb-2">
    <div class="container py-2">
        <div class="row">
            <div class="col-4">
                <a href="javascript: history.go(-1);" class="text-decoration-none text-secondary"><i class="fas fa-chevron-left"></i> </a>
            </div>
            <div class="col-4 text-center">
                选择商品
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">

{% for item in goods_list %}
<div class="row mb-3" id="goods_{{ item.goods_id }}">
    <div class="col-4 col-md-3 col-xl-2">
        <div style="height: 0; padding-top: 100%; background-size: cover; background-position: center; background-image: url('{% if item.goods.img.first() %}{{ url_for('static', filename='img_goods/'+item.goods.img.first().filename_s) }}{% else %}{{ url_for('static', filename='img/no-image.jpg') }}{% endif %}')"></div>
    </div>
    <div class="col px-0 mr-3 border-bottom">
        {{ item.goods.name }}
        <br>
        <small>编号：{{ item.goods_id }} &nbsp; 价格：&yen;{{ item.goods.price }} &nbsp; {% if item.goods.type_id %}类别：{{ item.goods.type.name }}{% endif %}</small>
        <br>
        <small class="float-right">
            <a href="javascript:" class="text-info text-decoration-none mr-2 alert_goods"
               data-gid="{{ item.goods_id }}" data-stype="remove"><i class="fas fa-minus-circle"></i> </a>
            {{ item.count }}
            <a href="javascript:" class="text-info text-decoration-none ml-2 alert_goods"
               data-gid="{{ item.goods_id }}" data-stype="append"><i class="fas fa-plus-circle"></i> </a>
        </small>
    </div>
</div>
{% else %}
<div class="row mb-3">
    <div class="col text-center">
        请添加商品...
    </div>
</div>
{% endfor %}

<div class="row mb-2 justify-content-center">
    <div class="col col-md-8">
        <a href="{{ url_for('.goods_search', order_id=order_id) }}" class="btn btn-secondary btn-block rounded-pill"><i class="fas fa-plus"></i> </a>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col col-md-8">
        <a href="{{ url_for('.order_update', order_id=order_id) }}" class="btn btn-info btn-block rounded-pill">下一步</a>
    </div>
</div>

</div>

</main>
{% endblock %}

{% block script %}
    <script type="text/javascript">

    $(function () {
        $('.alert_goods').click(function () {
            $.ajax({
                url: '{{ url_for('.order_add_goods', order_id=order_id) }}',
                type: 'post',
                data: {goods_id: $(this).data('gid'), shift_type: $(this).data('stype')},
                beforeSend: showLoading,
                success: function () {
                    hideLoading();
                    window.location.reload();
                },
                error: function (xhr) {
                    hideLoading();
                    showMsg(xhr.statusText);
                }
            });
        });
    })

    </script>
{% endblock %}