{% extends "sales/base.html" %}

{% block content %}
    <div class="container mb-5">
    <div class="row">
        <div class="col text-center">
            <a href="javascript: history.go(-1);" class="text-decoration-none text-secondary float-left"><i class="fas fa-chevron-left"></i> </a>
            确认订单
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post">
                <div class="form-group row">
                    <label for="order_number" class="col-form-label col-4">订单编号</label>
                    <div class="col">
                    <input type="text" class="form-control" id="order_number" readonly value="001">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-form-label col-4">商品总价</label>
                    <div class="col">
                    <input type="text" class="form-control" id="price" readonly value="100">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pledge" class="col-4 col-form-label">商品押金</label>
                    <div class="col">
                    <input type="text" class="form-control" id="pledge" readonly value="400">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="order_total" class="col-4 col-form-label">订单合计</label>
                    <div class="col">
                    <input type="text" class="form-control" id="order_total" name="order_total" value="500">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pay_type" class="col-4 col-form-label">付款方式</label>
                    <div class="col">
                    <select class="custom-select" id="pay_type" name="pay_type">
                        <option>现金</option>
                        <option selected>微信</option>
                        <option>支付宝</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <legend class="col-4 col-form-label pt-0">付款状态</legend>
                        <div class="col">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" name="pay_status" id="pay_status1" value=1 checked>
                                <label class="custom-control-label" for="pay_status1">已付款</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" name="pay_status" id="pay_status2" value=0>
                                <label class="custom-control-label" for="pay_status2">未付款</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="remarks" class="col-4 col-form-label">备注</label>
                    <div class="col">
                    <textarea id="remarks" name="remarks" class="form-control">线下销售订单</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="real_total" class="col-4 col-form-label">实付款</label>
                    <div class="col">
                    <input type="text" class="form-control-plaintext" readonly id="real_total" name="real_total" value="500">
                    </div>
                </div>
                <a href="javascript: history.go(-1);" class="btn btn-secondary btn-block rounded-pill">查看该订单商品</a>
                <button type="submit" class="btn btn-info btn-block rounded-pill">确定</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}