{% extends 'base.html' %}

{% block body_tag %}style="padding-bottom: 4.5rem;"{% endblock %}

{% block title %}兰亭续管理平台{% endblock %}

{% block body %}
    <!-- 顶部导航条 -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-info shadow">
      <a class="navbar-brand" href="{{ url_for('goods_bp.index') }}">
          <img src="{{ url_for('static', filename='img/lantinglogo.gif') }}" width="30" height="30" class="d-inline-block align-top" alt="lanting.live">
          兰亭续文创工作室 &nbsp;<small>管理平台</small>
      </a>
{#      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#      </button>#}
{#      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
{#        <div class="navbar-nav">#}
{#          <!-- 导航条超链接 -->#}
{#          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>#}
{#          <a class="nav-item nav-link" href="#">Features</a>#}
{##}
{#        </div>#}
{#      </div>#}
    </nav>

    <!-- 页面主体部分 -->
    <main role="main" class="container mt-3">
        {% block content %}{% endblock %}

        <!-- 页面右下角操作区按钮 -->
        <div class="row fixed-bottom">
            <div class="col">
                {% block handle_btn %}
                    <a href="#" class="btn btn-secondary float-right mb-2 mr-3">Top</a>
                    <a href="#" class="btn btn-info float-right mb-2 mr-1">Add</a>
                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}