{% extends "base.html" %}

{% block body %}
    <div class="border-bottom shadow-sm">
        <div class="container py-2">
            <div class="row">
                <div class="col">
                    <span class="lead">我的商品管理</span>
                </div>
                <div class="col text-right">
                    {% if current_user.can('goods_manage') %}
                        <span class="lead"></span> <!-- 用来撑行高的 -->
                        <a href="{{ url_for('.update_goods', type_id=type_id) }}" class="text-info"><i class="fas fa-plus"></i> 新商品</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5 pb-5">

        <!-- 二级导航条 -->
        <ul class="nav pt-2 pb-3 mb-2 sticky-top bg-white flex-nowrap text-nowrap overflow-auto nav-scroll-me">
            {% for item in type_list %}
                <li class="nav-item order-{{ item.sequence }}">
                    <a class="nav-link px-0 pb-0 mr-3 {% if item.id == type_id %}text-info  border-bottom border-info{% else %}text-black-50{% endif %}"
                       href="{{ url_for('.index', type_id=item.id) }}">{{ item.name }}</a>
                </li>
            {% endfor %}
            <li class="nav-item order-last">
                <a class="nav-link px-0 pb-0 mr-3 {% if type_id == 0 %}text-info  border-bottom border-info{% else %}text-black-50{% endif %}"
                   href="{{ url_for('.index', type_id=0) }}">已下架</a>
            </li>
        </ul>

        {% for item in goods_list %}
            {% set data_src = url_for('static', filename='img_goods/'+item.img.first().filename_s) if item.img.first() else url_for('static', filename='img/no-image.jpg') %}

            <div class="row mb-3" id="goods_{{ item.id }}">
                <div class="col-4 col-md-3 col-xl-2 pr-0 py-0">
                    <a {% if current_user.can('goods_manage') %}href="{{ url_for('.update_goods', type_id=type_id, goods_id=item.id) }}"{% endif %}>
                        <div class="rounded img_response_auto lazy" data-src="{{ data_src }}">
                            <span class="badge badge-pill badge-secondary">{% if item.number %}{{ item.number }}{% else %}{{ item.id }}{% endif %}</span>
                        </div>
                    </a>
                </div>
                <div class="col px-0 mx-3 border-bottom">
                    {{ item.name }}
                    <br>
                    <small>价格：&yen;{{ item.rent }} &nbsp; {% if item.type_id %}类别：{{ item.type.name }}{% endif %}</small>
                    {% if current_user.can('goods_manage') %}
                    <br>
                    <small class="float-right">
                        <a href="{{ url_for('.update_goods', type_id=type_id, goods_id=item.id) }}" class="text-info text-decoration-none mr-2">修改 <i class="fas fa-pen-square"></i> </a>
                        <a href="javascript:void (0);" data-gid="{{ item.id }}" class="text-warning text-decoration-none mr-2 alt-status">
                            {% if item.status %}
                                下架 <i class="fas fa-cart-arrow-down"></i>
                            {% else %}
                                上架 <i class="fas fa-arrow-up"></i>
                            {% endif %}
                        </a>
                        <a href="javascript:void (0);" data-toggle="modal" data-target="#goods-delete-modal" data-goodsid="{{ item.id }}" class="text-danger text-decoration-none">删除 <i class="fas fa-trash"></i> </a>
                    </small>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="row"><div class="col text-center">这里什么也没有...</div> </div>
        {% endfor %}

    </div>
    
    <!-- 商品删除的post请求确认的modal -->
    <div class="modal fade" id="goods-delete-modal" tabindex="-1" role="dialog" aria-labelledby="goods-delete-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="goods-delete-modal-label">提示消息</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            请再次确定是否要删除该商品！
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger delete-goods" data-dismiss="modal">删除</button>
            <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>

    {% include "_navbar.html" %}

{% endblock %}

{% block script %}
    <script type="text/javascript">

    $(function () {
    
        $('#goods-delete-modal').on('show.bs.modal', function (event) {
            let goods_id = $(event.relatedTarget).data('goodsid');
            $(this).find('.delete-goods').data('goodsid', goods_id)
        });

        $(".delete-goods").on('click', function () {
            let goods_id = $(this).data('goodsid');
            $.ajax({
                url: "{{ url_for('.delete_goods') }}",
                type: "post",
                data: {"goods_id": goods_id},
                beforeSend: showLoading(),
                success: function (data) {
                    $("#goods_"+goods_id.toString()).remove();
                    hideLoading();
                },
                error: function () {
                    showMsg('该商品已被删除。');
                    $("#goods_"+goods_id.toString()).remove();
                    hideLoading();
                }
            })
        });

        $('.alt-status').click(function () {
            let goods_id = $(this).data('gid');
            $.ajax({
                url: "{{ url_for('.alt_status') }}",
                type: "post",
                data: {"goods_id": goods_id},
                beforeSend: showLoading(),
                success: function (data) {
                    $("#goods_"+goods_id.toString()).remove();
                    hideLoading();
                    showMsg('操作成功。');
                },
                error: function () {
                    showMsg('该商品已被删除。');
                    $("#goods_"+goods_id.toString()).remove();
                    hideLoading();
                }
            })
        });

        new LazyLoad({  // 初始化图片懒加载
            elements_selector: ".lazy",
            load_delay: 300
        })

    });

    </script>
{% endblock %}