{% extends "goods/base.html" %}

{% block content %}
    <div class="row">
    {% for item in goods_list %}
    <div id="{{ item.id }}" class="col-6 col-sm-4 col-md-3 col-lg-2 p-1">
        <a href="{{ url_for('.update_goods', goods_id=item.id) }}">
        <div data-imageurl="{% if item.img.first() %}{{ url_for('static', filename='img_goods/'+item.img.first().filename_s) }}{% else %}{{ url_for('static', filename='img/no-image.jpg') }}{% endif %}"
             style="padding-bottom: 100%; height: 0; background-size: cover; background-position: center;" class="rounded img_delay">
            <span class="badge badge-pill badge-secondary">{{ item.id }}</span>
        </div>
        </a>
        <small class="text-danger">&yen;{{ item.rent }}</small>
        <p class="text-truncate text-dark"><small>{{ item.name }}</small></p>
    </div>
    {% else %}
        <p>当前暂无商品图。</p>
    {% endfor %}
    </div>
{% endblock %}

{% block handle_btn %}
    <a href="#" class="btn btn-secondary mr-3 mb-2 float-right rounded-circle"><i class="fas fa-arrow-up"></i> </a>
    <a href="{{ url_for('.update_goods') }}" class="btn btn-info mr-1 mb-2 float-right rounded-circle"><i class="fas fa-plus"></i> </a>
{% endblock %}

{% block script %}
<script type="text/javascript">
// 图片懒加载
$(function () {
    let clock;  // 记录定时任务ID
    let onScroll = function () {
        // 结束上次还未执行的任务
        if (clock) {
            clearTimeout(clock);
        }
        // 建立新的定时任务
        clock = setTimeout(function () {
            // 获取滚动条滚动过的页面的高度
            let scrollTop = $(window).scrollTop();
            // 网页浏览器可视内容部分的高度
            let screenHeight = $(window).height();
            $('.img_delay').each(function (index, element) {
              let $el = $(element);
              // $el.offset().top获取图片距离页面顶部的距离
              // 图片出现在页面可见部分时设置图片的src属性值为data-src属性值
              let elementTop = $el.offset().top;
              let maxHeight = scrollTop + screenHeight;  // 滚动过的高度加上页面高度
              let minHeight = scrollTop - $el.parent().parent().height();  // 滚动过的高度减去图片自身高度
              if (elementTop < maxHeight && elementTop > minHeight && $el.attr('data-imageurl')) {
                $el.attr('style', function(i,origValue){
                    return origValue + "background-image: url('"+$el.attr('data-imageurl')+"');"
                }).removeAttr('data-imageurl');
              }
            });
        }, 300);
    };
    $(window).scroll(onScroll);
    onScroll();
})
</script>
{% endblock %}