

{% macro back_bar(name=None, href=None, share=True, color='text-dark') %}
    {% set href = href if href else "javascript: if (window.history.length === 1) {window.location.href='/'} else {window.history.back();}" %}
    <div class="container py-4">
        <!-- 返回包括标题 -->
        <div class="row justify-content-between">
            <div class="col text-nowrap">
                <a href="{{ href }}" class="text-decoration-none h4 {{color}}">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <span class="ml-2 h4 {{color}}">
                    {% if name %} {{ name }} {% endif %}
                </span>
            </div>
            {% if share %}
            <div class="col text-right">
                <a id="clipboard-trigger" href="javascript: void (0); " class="text-decoration-none {{color}}">
                    <i class="fas fa-share-square"></i>
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $("#clipboard-trigger").attr('data-clipboard-text', document.title+'\n'+location.href);
            var clipboard = new ClipboardJS('#clipboard-trigger');
            clipboard.on('success', function(e) {
                showMsg('已成功复制当前页面至剪贴板，请到微信或QQ粘贴来分享内容。');
                e.clearSelection();
            });
            clipboard.on('error', function(e) {
                showMsg('请复制以下内容供粘贴分享：\n'+document.title+'\n'+location.href);
            });
        });
    </script>
{% endmacro %}


{% macro navbar(tid=0, uid=None, order_way='flow', view_type='big', TYPE_LI=TYPE_LI) %}
    <div class="container pt-2 pb-3 sticky-top bg-white">
        <!-- 导航条 -->
        <nav class="nav flex-nowrap text-nowrap overflow-auto nav-scroll-me">
            <a class="nav-link px-0 pb-0 mr-3 order-0 {% if tid == 0 %}
            text-warning border-bottom border-warning {% else %}
            text-black-50 {% endif %}"
               href="{% if uid %} {{ url_for('.index', uid=uid) }} {% else %} {{ url_for('.index') }} {% endif %}">
                首页
            </a>
            {% for item in TYPE_LI %}
            {% set href = url_for('.type_show', uid=uid, tid=item.id)+'?order='+order_way+'&view='+view_type if uid else url_for('.type_show', tid=item.id)+'?order='+order_way+'&view='+view_type %}
            <a class="nav-link px-0 pb-0 mr-3 order-{{ item.sequence }} {% if item.id == tid %}
            text-warning border-bottom border-warning{% else %}
            text-black-50 {% endif %}" href="{{ href }}">
                {{ item.name }}
            </a>
            {% endfor %}
        </nav>
    </div>
{% endmacro %}


{% macro order_block(tid, uid=None, order_way='flow', view_type='big', point='user_bp.type_show', goods_order_map=goods_order_map) %}
    <div class="container mb-3">
        <!-- 排序部分 -->
        <div class="row">
            <div class="col">
                <div class="dropdown small">
                  <a class="dropdown-toggle text-muted" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ goods_order_map(order_way, 1) }}
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  {% for one in goods_order_map(li=True) %}
                    {% set href = url_for(point, uid=uid, tid=tid)+'?order='+one[0]+'&view='+view_type if uid else url_for(point, tid=tid)+'?order='+one[0]+'&view='+view_type %}
                    <a class="dropdown-item small text-muted"
                       href="{{ href }}">{{ one[1] }}</a>
                    <div class="dropdown-divider m-0"></div>
                  {% endfor %}
                  </div>
                </div>
            </div>

            <!-- 排版部分 -->
            <div class="col text-right">
            {% set view_type_new = 'small' if view_type == 'big' else 'big' %}
            {% set href = url_for(point, uid=uid, tid=tid)+'?order='+order_way+'&view='+view_type_new if uid else url_for(point, tid=tid)+'?order='+order_way+'&view='+view_type_new %}
                <a href="{{ href }}"
                   class="text-muted text-decoration-none">
                    <i class="fas fa-th-list"></i>
                </a>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro goods_li_show(goods_li, view_type='big') %}
    {# 商品列表展示 #}
    <div class="container">
    <!-- 商品展示 -->
    <div class="row">
    {% for item in goods_li %}
        {% set data_src_m = url_for('static', filename='img_goods/'+item.img.first().filename_m) if item.img.first() else url_for('static', filename='img/no-image.jpg') %}
        {% set data_src_s = url_for('static', filename='img_goods/'+item.img.first().filename_s) if item.img.first() else url_for('static', filename='img/no-image.jpg') %}

        {% if view_type == 'big' %}
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <a href="{{ url_for('main_bp.goods_show', goods_id=item.id) }}" class="text-decoration-none">
            <div class="rounded-top img_response_auto lazy" data-src="{{ data_src_m }}"></div>
            <div class="shadow rounded-bottom p-2">
                <p class="m-0 text-truncate text-dark">{{ item.name }}</p>
                <p class="m-0 text-warning">
                    <small>&yen;</small>{{ item.price }}
                    <small class="float-right text-muted">No. {{ item.number }}</small>
                </p>
            </div>
        </a>
        </div>
        {% else %}
        <div class="col-12 mb-4">
            <a href="{{ url_for('main_bp.goods_show', goods_id=item.id) }}" class="text-decoration-none">
                <div class="row">
                    <div class="col-5 col-sm-4 col-lg-3 pr-0">
                        <div class="rounded shadow img_response_auto lazy" data-src="{{ data_src_s }}"></div>
                    </div>
                    <div class="col">
                            <p class="m-0 text-dark">{{ item.name }}</p>
                            <p class="m-0 text-warning">
                                <small>&yen;</small>{{ item.price }}
                                <small class="float-right text-muted">No. {{ item.number }}</small>
                            </p>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    {% else %}
        <div class="col-12">
            这里暂时是空的哟...
        </div>
    {% endfor %}
    </div>
    </div>

    <script type="text/javascript">
        $(function () {
            new LazyLoad({  // 初始化懒加载
                elements_selector: ".lazy",
                load_delay: 800
            });
        });
    </script>
{% endmacro %}