{% extends 'base.html' %}

{#底部版权部分#}
{#{% block html_tag %}style="position: relative; min-height: 100%;"{% endblock %}#}
{#{% block body_tag %}style="margin-bottom: 120px;"{% endblock %}#}

{% block body %}

    <!-- 页面主体部分 -->
    {% block content %}{% endblock %}

{#底部版权部分#}
{#    <footer style="position: absolute; bottom: 0; width: 100%; height: 90px;">#}
{#      <p class="text-center text-muted">#}
{#        &copy; 2018 兰亭续文创工作室 <br>#}
{#        <a href="http://www.miitbeian.gov.cn/" class="text-black-50"><small>蜀ICP备18036635号</small></a>#}
{#      </p>#}
{#    </footer>#}

{#    <!-- 底部导航条 -->#}
{#    <div class="row justify-content-center fixed-bottom mb-2">#}
{#        <nav class="nav rounded-pill border px-4" style="background: rgba(255, 255, 255, 0.8);">#}
{#          <a class="nav-link text-dark" href="{{ url_for('.index') }}"><i class="fas fa-store lead text-wrap" style="width: 2rem"><span style="font-size: xx-small">赶集</span></i> </a>#}
{#          <a class="nav-link text-dark" href="#"><i class="fas fa-shopping-basket lead text-wrap" style="width: 2rem"><span style="font-size: xx-small">箩筐</span></i> </a>#}
{#          <a class="nav-link text-dark" href="#"><i class="fas fa-home lead text-wrap" style="width: 2rem"><span style="font-size: xx-small">后院</span></i> </a>#}
{#        </nav>#}
{#    </div>#}
    {% include "_navbar.html" %}
{% endblock %}