<!doctype html>
<html lang="zh-CN" {% block html_tag %}{% endblock %}>
<head {% block head_tag %}{% endblock %}>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="兰亭续提供全品类商家正版汉服租赁服务，传统文化活动方案设计实施，承接汉婚，提供高品质古风化妆造型摄影。">
    <meta name="keywords" content="汉服，汉服出租，汉服租赁，化妆造型，古风摄影，传统文化，汉婚，文化活动">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.2.1/css/bootstrap.css') }}">
{#    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">#}
{#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">#}

    <style type="text/css">
        .img_response_auto {
            height: 0;
            padding-bottom: 100%;
            background-size: cover;
            background-position: center;
            background-color: #cccccc;
        }
    </style>

    {% block css %}{% endblock %}

    <title>{% block title %}兰亭集市-汉服发饰道具出租{% endblock %}</title>
</head>
<body {% block body_tag %}{% endblock %}>

    {% block body %}{% endblock %}

    <!-- Flash Modal -->
    <div class="modal fade" id="flash-modal" tabindex="-1" role="dialog" aria-labelledby="flash-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="flash-modal-label">提示消息</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">好的</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Loading Modal -->
    <div class="modal fade" id="loading-modal" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='jquery-3.3.1/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.2.1/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome-free-5.6.3-web/all.min.js') }}"></script>
{#    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>#}
{#    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>#}

    {% block script %}{% endblock %}

    <script type="text/javascript">

    // 消息提示JS
    let flashMsg;
    $("#flash-modal").on("show.bs.modal", function () {
        let modal = $(this);
        modal.find(".modal-body").html(flashMsg);
    });
    function showMsg(msg) {
        flashMsg = msg;
        $("#flash-modal").modal("show");
    }

    // flash 消息闪现
    {% for item in get_flashed_messages() %}
        showMsg("{{ item }}");
    {% endfor %}

    // LoadingFun
    function showLoading(){
        $("#loading-modal").modal({backdrop: 'static'});
    }
    function hideLoading() {
        setTimeout(function () {
            $("#loading-modal").modal('hide');
        }, 500);
    }

    // LazyLoading 图片懒加载自定义
    let lazy_load_clock_me;  // 记录定时任务ID
    function lazyLoadingMe(event) {
        // 结束上次还未执行的任务
        if (lazy_load_clock_me) {
            clearTimeout(lazy_load_clock_me);
        }
        // 建立新的定时任务
        lazy_load_clock_me = setTimeout(function () {
            // 获取滚动条滚动过的页面的高度
            let scrollTop = $(window).scrollTop();
            // 网页浏览器可视内容部分的高度
            let screenHeight = $(window).height();
            event.data.each(function (index, element) {
                let $el = $(element);
                let $img = $el.find('.img_response_auto');
                // $el.offset().top获取box距离页面顶部的距离
                // 图片出现在页面可见部分时设置图片的src属性值为data-src属性值
                let elementTop = $el.offset().top;
                let maxHeight = scrollTop + screenHeight + 1000;  // 滚动过的高度加上页面高度
                let minHeight = scrollTop - $el.height() - 500;  // 滚动过的高度减去box自身高度
                if (elementTop < maxHeight && elementTop > minHeight && $img.attr('data-src')) {
                    $img.attr('style', "background-image: url('"+$img.data('src')+"');").removeAttr('data-src');
                }
            });
        }, 100);
    }

    </script>
</body>
</html>