<!doctype html>
<html lang="zh-CN" {% block html_tag %}{% endblock %}>
<head {% block head_tag %}{% endblock %}>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="兰亭续提供全品类商家正版汉服租赁服务，传统文化活动方案设计实施，承接汉婚，提供高品质古风化妆造型摄影。">
    <meta name="keywords" content="汉服，汉服出租，汉服租赁，化妆造型，古风摄影，传统文化，汉婚，文化活动">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

{#    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.2.1/css/bootstrap.css') }}">#}
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    {% block css %}{% endblock %}

    <title>{% block title %}兰亭续(www.lanting.live)-汉服出租，古风妆照，摄影，活动策划{% endblock %}</title>
</head>
<body {% block body_tag %}{% endblock %}>

    {% block body %}{% endblock %}

    <!-- Flash Modal -->
    <div class="modal fade" id="flash-modal" tabindex="-1" role="dialog" aria-labelledby="flash-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="flash-modal-label">提示消息</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">好的</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Loading Modal -->
    <div class="modal fade" id="loading-modal" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>

{#    <script src="{{ url_for('static', filename='jquery-3.3.1/jquery-3.3.1.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='bootstrap-4.2.1/js/bootstrap.bundle.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='fontawesome-free-5.6.3-web/all.min.js') }}"></script>#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>

    {% block script %}{% endblock %}

    <script type="text/javascript">

    // 消息提示JS
    let flashMsg;
    $("#flash-modal").on("show.bs.modal", function () {
        let modal = $(this);
        modal.find(".modal-body").html(flashMsg);
    });
    function showMsg(msg) {
        flashMsg = msg;
        $("#flash-modal").modal("show");
    }

    // flash 消息闪现
    {% for item in get_flashed_messages() %}
        showMsg("{{ item }}");
    {% endfor %}

    // LoadingFun
    function showLoading(){
        $("#loading-modal").modal({backdrop: 'static'});
    }
    function hideLoading() {
        setTimeout(function () {
            $("#loading-modal").modal('hide');
        }, 500);
    }

    </script>
</body>
</html>